@import "tailwindcss";


:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --bg-color: #1a1a1a;
  --text-color: #ffffff;

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}